*{
    box-sizing: border-box;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: azure;
    padding: 5px 20px 15px 20px;
    border: 2px solid black;
    border-radius: 6px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea
{
    width: 100%;
}
